@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html {
  color-scheme: dark;
}
.bg-main {
  background-color: rgb(30, 34, 43);
  background-image: radial-gradient(
    rgba(120, 125, 134, 0.2) 0.5px,
    rgb(30, 34, 43) 0.5px
  );
  background-size: 5px 5px;
}
body {
  background-color: rgb(30, 34, 43);
  color: white;
  background-image: radial-gradient(
    rgba(120, 125, 134, 0.2) 0.5px,
    rgb(30, 34, 43) 0.5px
  );
  background-size: 5px 5px;
}
.bg-card {
  background-color: rgb(27, 30, 37);
}

@media (max-width: 641px) {
  * {
    font-size: 99% !important;
  }
  .card-body {
    padding: 1rem;
  }
  .score {
    padding: 0.1rem 0.7rem 0.1rem 0.7rem;
    gap: 0.5rem;
  }
}
@media (max-width: 450px) {
  .scoreboard.gap-8 {
    gap: 0;
  }
  .select-header {
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0;
  }
  .content .gap-2 {
    gap: 0.3rem !important;
  }
  .content .text-base {
    font-size: 83% !important;
  }
  .modal-box {
    padding: .7rem;
  }
  .modal-box .table :where(th, td) {
    padding: .4rem;
    font-size: 80% !important;
  }
  .select-header select {
    margin-bottom: .5rem;
  }
}
@media (max-width: 1345px) {
  .ranking {
    display: none;
  }
  .content {
    display: flex !important;
    justify-content: center;
    gap: 0 !important;
  }
  .ranking-mobile {
    display: flex !important;
  }
}
.ranking-mobile {
  display: none;
}
.content {
  display: grid;
}
.card-body {
  z-index: 1;
}
.card-bg figure {
  width: 100%;
  height: 100%;
}
.card-bg figure img {
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgba(42, 48, 60, 0.05) -40%,
    rgba(42, 48, 60, 0) 100%
  );
  background-size: cover;
}

.map-card {
  position: relative;
}
.map-card figure {
  z-index: 0;
}
.map-card figure img {
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  mask-image: linear-gradient(
    to bottom,
    rgba(42, 48, 60, 0.4) 100%,
    rgba(42, 48, 60, 0.4) 100%
  );
  position: absolute;
  object-fit: cover;
}
.map-card-body {
  z-index: 1;
}
